<h1>Stupid Coaching</h1>

<div class="question bloc"><span class = "text"><%= params[:question] %> <br> -You</span></div>
<div class="coach bloc"><span class = "text"><%= @answer %> <br>-Your coach</span></div>
