<form method="get" action="/answer" data-turbo="false">
  <input type="text" name="question" value="<%= params[:question] %>" placeholder="Ask the coach anything...">
  <input type="submit" value="Ask!">
</form>
