/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  font-size: 2rem;
  background-color: #022B3A;
}

h1 {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bloc {
  margin-top: 1rem;
  background-color: #BFDBF7;
  border-radius: 4px;
  padding: 10px;
  line-height: 4rem;
  position: relative;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.text{
  margin-left: 1rem;
  display: inline-block;
}

.bloc::before {
  content: " ";
  background: rgb(112, 21, 21);
  height: 8rem;
  width: 5px;
  position: absolute;
  transform: rotate('');
}

.bloc.coach {
  background-color: #f3f7bf;
}

.bloc:hover{
  box-shadow: 4px 6px rgb(220, 125, 149);
  transition: 0.15s ease-in-out;
  cursor: pointer;
}
